{% extends "apply/base.html" %}
{% block content %}
{% load static %}
<title>Home</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="form">
<img id="bg" src="{% static 'images/bg.jpg' %}" alt="">
<div class='Register'>
<h1>Signup</h1>
<form method="post" class='container'>
    {% csrf_token %}
    {% for message in messages %}
    <h3>{{message}}</h3><br>
    {% endfor %}
    <input type="text" placeholder="Enter Username" name="username"><br>
    <input type="email" placeholder="Enter Email" name="email"><br>
    <input type="password" placeholder="Enter Password" name="password"><br>
    <input type="password" placeholder="Enter Password again" name="Vpassword"><br>
    <button class='btn btn-primary'>Signup</button><br>
</form>
</div>
</div>
{% endblock %}